@import url('https://fonts.googleapis.com/css?family=Lobster');


.loginForm {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.logoName {
    font-family:'Lobster';
    font-size: 30px;
    font-weight: bold;
}

.loginForm select {
    font-family:'Lobster';
    background-color: black;
    border: 2px solid black;
    color: #66FCF1;
    margin-top: 20px;
    font-weight: bold;
    width: 300px;
    height: 40px;
}

.Button {
    width: 154px;
    height: 35px;
    color: black;
    font-weight: bold;
    background-color: #C8C8C8;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 1.5625em;
}