.Center {
    text-align: center;
    margin-top: 140px;

}

.Rectangle {
    display: inline-block;
    width: 800px;
    height: 600px;
    border: none;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px;
    color: #66FCF1;
    background-color: black;
    text-align: center;
    align-items: center;
}

.font {
    margin-top: 110px;
}

@media (max-width: 812px) {
    .Rectangle {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 615px) {
    .Rectangle {
        width: 480px;
        height: 480px;
    }
}